{%- assign dateOfPoem = {{poem.date | date: "%d"}} -%}

{%- if dateOfPoem == "01" or dateOfPoem == "21" or dateOfPoem == "31" -%}
	{%- assign ordinalEnding = "st" -%}
{%- elsif dateOfPoem == "02" or dateOfPoem == "22" -%}
	{%- assign ordinalEnding = "nd" -%}
{%- elsif dateOfPoem == "03" or dateOfPoem == "23" -%}
	{%- assign ordinalEnding = "rd" -%}
{%- else %}
	{%- assign ordinalEnding = "th" -%}
{%- endif %}


{%- assign firstDigitDofP = dateOfPoem | slice: 0 -%}

{%- if firstDigitDofP == "0" -%}
	{%- assign prettyDateOfPoem = dateOfPoem | slice: 1 -%}
{%- else -%}
	{%- assign prettyDateOfPoem = dateOfPoem -%}
{%- endif -%}


{%- if poem.category == "now" and poemCounter != "pastFirstNow" and page.url != "/now" -%}

<p><a href="/now" title="{{ poem.title }}" class="blog-listing-link">{{ poem.title }}</a><br>
<time datetime="{{ poem.date | date: '%Y-%m-%d' }}">{{ poem.date | date: "%B" }} {{prettyDateOfPoem}}{{ ordinalEnding }}, {{ poem.date | date: "%Y" }}</time></p>

{%- assign poemCounter = "pastFirstNow" -%}

{%- else -%}

<p><a href="{{ poem.url }}" title="{{ poem.title }}" class="blog-listing-link">{{ poem.title }}</a><br>
<time datetime="{{ poem.date | date: '%Y-%m-%d' }}">{{ poem.date | date: "%B" }} {{prettyDateOfPoem}}{{ ordinalEnding }}, {{ poem.date | date: "%Y" }}</time></p>

{%- endif -%}
