<nav class="site-nav">

{% if page.url == "/" %}
<span class="home-link" style="display: block; font-size: 1rem; font-weight: bold;">Derek Kedziora</span>
{% else %}
<a href="/" rel="author" class="home-link">Derek Kedziora</a>
{% endif %}

<div class="right-nav-links">
{% if page.url == "/about" %}
<span class="nav-current-page" style="margin: 0 5% 0 0;">About</span>
{% else %}
<a href="/about" title="About">About</a>
{% endif %}

{% if page.url == "/blog" %}
<span class="nav-current-page" >Blog</span>
{% else %}
<a href="/blog" title="Blog">Blog</a>
{% endif %}
</div>

</nav>